
body {
    margin: 8px;
    display: block;
    }
    
    
    #mainHeading {
    color: red;
    }
    
    
    #testP, .funParagraph {
    color: green;
    }
    
 
    article {
    margin-bottom: 30px;
    padding: 10px;
    }
    
    
    